<ion-header>
  <ion-toolbar class="pageHeader">
    <ion-grid>
        <ion-row>
          <ion-col size="2" (click)="goBack()" class="arrowBack">
            <span class="material-symbols-outlined arrowBackIcon">
              arrow_back
            </span>
          </ion-col>
          <ion-col class="pageTitle" size="8">
            <ion-title>Estadísticas</ion-title>
          </ion-col>
          <ion-col size="2">
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Puntos<br>ganados hoy</p>
        <p>123</p>
      </ion-col>
      <ion-col>
        <p>Puntos<br>totales</p>
        <p>1234</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <p>(Gráfica de pérdidas y ganancias)</p>
    </ion-row>
    <ion-row>
      <p>(Gráfica de cant de tareas completadas por día de la semana)</p>
    </ion-row>
  </ion-grid>
</ion-content>
