<ion-header>
  <ion-toolbar class="pageHeader list_nota">
    <ion-grid>
      <ion-row>
        <ion-col size="2" (click)="goBack()" class="arrowBack">
          <span class="material-symbols-outlined arrowBackIcon">
            arrow_back
          </span>
        </ion-col>
        <ion-col class="pageTitle" size="8">
          <div>
            <ion-row class="list_icon">
              <span class="material-symbols-outlined">summarize</span>
            </ion-row>
            <ion-row>
              <h1>Notas Rápidas</h1>
            </ion-row>
          </div>
        </ion-col>
        <ion-col size="2" class="listPointIcon">
          <span class="material-symbols-outlined">
            more_vert
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid class="contentGrid">
    <span *ngFor="let obj of arrayGeneral">
      <span *ngIf="obj.tipo == 'nota'">
        <ion-row class="notaRow" [routerLink]="['/edit/Nota_Rapida', obj.obj.id]">
          <ion-col class="notaColor"></ion-col>
          <ion-col size="10.8">
            <ion-row class="notaTitulo"><p>{{obj.obj.asunto}}</p></ion-row>
          </ion-col>
        </ion-row>
      </span>
    </span>
  </ion-grid>
  <ion-fab class="addButton" [routerLink]="'/add/Nota_Rapida'" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="quaternary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>