<ion-header>
  <ion-toolbar class="pageHeader">
    <ion-grid>
      <ion-row>
        <ion-col size="2" (click)="goBack()" class="arrowBack">
          <span class="material-symbols-outlined arrowBackIcon">
            arrow_back
          </span>
        </ion-col>
        <ion-col class="pageTitle" size="8">
          <ion-title>Agregar<br>Recordatorio</ion-title>
        </ion-col>
        <ion-col size="2" class="addCheckIcon">
          <span class="material-symbols-outlined" (click)="enviarDatos()">
            check
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row><label>Asunto:</label></ion-row>
    <ion-row><input id="addRecAsunto" class="addInput" type="text" placeholder="Asunto del recordatorio..."></ion-row>
    <hr>
    <ion-row><label>Descripción:</label></ion-row>
    <ion-row><textarea id="addRecDescr" class="addTxtArea" placeholder="Descripción del recordatorio..."></textarea></ion-row>
    <hr>
    <ion-row><label>Importancia:</label></ion-row>
    <ion-row>
      <ion-col size="8">
        <ion-row class="rowSelect">
          <ion-col size="2" class="flagIcon">
            <span class="material-symbols-outlined">flag</span>
          </ion-col>
          <ion-col>
            <ion-select id="addRecImpSelect" value="" class="aa" placeholder="Nivel" interface="popover">
              <ion-select-option value="Baja">Baja</ion-select-option>
              <ion-select-option value="Media">Media</ion-select-option>
              <ion-select-option value="Alta">Alta</ion-select-option>
              <ion-select-option value="Muy Alta">Muy Alta</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4" class="disCenter">  
        <ion-button color="quaternary" (click)="cleanImportancia()">Limpiar</ion-button>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col class="disCenter">
        <label>Fecha:</label>
      </ion-col>
      <ion-col class="disCenter">
        <ion-toggle color="quaternary" (click)="viewDateToggle()"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row class="dateRow" *ngIf="showDate">
      <ion-col size="4">
        <input id="addRecDia" class="addDateInput" (change)="checkFormat(1);" type="number" placeholder="Dia" maxlength="2" [max]="31" [min]="1">
      </ion-col>
      <ion-col size="4">
        <input id="addRecMes" class="addDateInput" (change)="checkFormat(2)" type="number" placeholder="Mes" maxlength="2" [max]="12" [min]="1">
      </ion-col>
      <ion-col size="4">
        <input id="addRecYear" class="addDateInput" (change)="checkFormat(3)" type="number" placeholder="Año" maxlength="4" [max]="2030" [min]="2022">
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col class="disCenter">
        <label>Hora:</label>
      </ion-col>
      <ion-col class="disCenter">
        <ion-toggle color="quaternary" (click)="viewHourToggle()"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row class="dateRow" *ngIf="showHour">
      <ion-col size="4">
          <input id="addRecHora" class="addDateInput" (change)="checkFormat(4)" type="number" placeholder="Horas" maxlength="2" [max]="23" [min]="0">
      </ion-col>
      <ion-col size="4">
          <input id="addRecMinuto" class="addDateInput" (change)="checkFormat(5)" type="number" placeholder="Minutos" maxlength="2" [max]="59" [min]="0">
      </ion-col>
    </ion-row>
    <hr>
    <ion-row><label>Ubicación:</label></ion-row>
    <ion-row>
      <ion-col size="8">
        <ion-row class="rowSelect">
          <ion-col>
            <ion-select id="addRecUbicSelect" value="" class="aa" color="quaternary"
            placeholder="Nivel" interface="popover" >
            <span *ngFor="let lugar of listaLugar">
              <ion-select-option value="{{lugar.nombre}}">{{lugar.nombre}}</ion-select-option>
            </span>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4" class="disCenter">
        <ion-button color="quaternary" (click)="cleanUbicacion()">Limpiar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>