<ion-header>
  <ion-toolbar class="pageHeader">
    <ion-grid>
        <ion-row>
          <ion-col size="2" (click)="goBack()" class="arrowBack">
            <span class="material-symbols-outlined arrowBackIcon">
              arrow_back
            </span>
          </ion-col>
          <ion-col class="pageTitle" size="8">
            <h1>Actualizar a PRO</h1>
          </ion-col>
          <ion-col >
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <ion-grid class="basicAccount gridSize">
      <ion-row class="rowSize">
      </ion-row>
      <ion-row class="rowSize">
        <ion-col size="1">
        </ion-col>
        <ion-col size="10" class="align">
          <ion-row>
            Cuenta Básica
          </ion-row>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
      <ion-row class="rowSize">
        <ion-col size="5" class="align">
          GRATIS
        </ion-col>
        <ion-col size="2">
        </ion-col>
        <ion-col size="5" class="align">
          <span class="actualBtn getBtn">
            Actual
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="proAccount gridSize">
      <ion-row class="rowSize">
      </ion-row>
      <ion-row class="rowSize">
        <ion-col size="1">
        </ion-col>
        <ion-col size="10">
          <ion-row class="align">
            <span class="material-symbols-outlined">
              verified
            </span>
          </ion-row>
          <ion-row class="align">
            Cuenta PRO
          </ion-row>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
      <ion-row class="rowSize">
        <ion-col size="5" class="align">
          $$$
        </ion-col>
        <ion-col size="2">
        </ion-col>
        <ion-col size="5" class="align">
          <span class="conseguirBtn getBtn">
            Conseguir
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ul>
</ion-content>