<ion-header>
  <ion-toolbar class="pageHeader">
    <ion-grid>
        <ion-row>
          <ion-col size="2" (click)="goBack()" class="arrowBack">
            <span class="material-symbols-outlined arrowBackIcon">
              arrow_back
            </span>
          </ion-col>
          <ion-col class="pageTitle" size="8">
            <ion-title>Acerca de Erineru</ion-title>
          </ion-col>
          <ion-col size="2">
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ul class="topSection">
      <li>(Logo)</li>
      <li>Versión 0.1.0</li>
      <li><span>(Versión más reciente)</span></li>
    </ul>

    <ul class="bottomSection">
      <li>Alguna descripción?</li>
      <li>Redes Sociales?</li>
      <li>Terminos de servicio y política de privacidad</li>
      <li>Licencias?</li>
    </ul>
  </div>
</ion-content>