ul{
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

.topSection{
    margin-top: 20px;
    font-size: 18px;
}

.topSection li{
    margin: 10px;
}

.topSection span{
    font-size: 15px;
}

.bottomSection{
    padding: 40px;
    font-size: 16px;
}