.addInput{
    width: 100%;
    margin: 10px;
    border-radius: 8px;
    height: 40px;
    padding: 5px;
}

.addTxtArea{
    width: 100%;
    margin: 10px;
    resize: vertical;
    border-radius: 8px;
    height: 400px;
    min-height: 100px;
    max-height: 600px;
    padding: 5px;
}

